{{!-- <div>
    <h1>WHY?????</h1>
</div> --}}

    <!-- Our content here -->
      <main>
        {{#each profiles}}
         <div class="col s12 s7">
            <div class="card horizontal">
              <div class="card-image">
                <img src="{{this.photo}}">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <h5 class="your-name">{{this.first_name}} {{this.last_name}}</h5>
                    <div class="row">
                        <div class="col s6">
                            <p>DOB: {{this.birthdate}}</p>
                            <p>Height: {{this.height}}</p>
                            <p>Hair: {{this.hair}}</p>
                        </div>
                        <div class="col s6">
                            <p>AGE: </p>
                            <p>Weight: {{this.weight}} lbs</p>
                            <p>Eye: {{this.eyes}}</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="black-text text-darken-4">YOU<a href="profile.html"><i class="material-icons right tooltipped" data-position="top" data-delay="50" data-tooltip="more info">more_horiz</i></a></p>
                </div>
              </div>
            </div>
          </div>
          <script>
              var age = "";
              function calcAge(dateString) {
                var birthday = +new Date(dateString);
                return ~~((Date.now() - birthday) / (31557600000));

                }
                calcAge(this.birthdate);

          </script>
        {{/each}}
    </main>
